<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    <script>
        function goSchedule() {
            window.location.href = "../../Schedule/Index";
        }
        function goAbout() {
            window.location.href = "../../Home/About";
        }
        function goContactUs() {
            window.location.href = "../../Home/Contact";
        }
    </script>
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <p class="centered"><a href="profile.html"><img src="~/Models/container.png" class="img-circle" width="60"></a></p>
                    <h5 class="centered">Maersk Line</h5>


                    <li class="sub-menu">
                        <a  href="javascript:goSchedule();">
                            <i class="fa fa-th"></i>
                            <span>Schedule</span>
                        </a>
                        <ul class="sub">
                            <li class="active"><a href="basic_table.html">Schedule</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="active"  href="javascript:goAbout();">
                            <i class="fa fa-th"></i>
                            <span>About </span>
                        </a>
                        <ul class="sub">
                            <li><a href="../../View/Home/About.cshtml">About</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a  href="javascript:goContactUs();">
                            <i class="fa fa-th"></i>
                            <span>Contact Us </span>
                        </a>
                        <ul class="sub">
                            <li><a href="../../View/Home/About.cshtml">About</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">

                <h3> About Us</h3>
                <div class="row mt">
                    <div class="col-lg-12">

                        <div id="left" class="box2">
                            <p align="justify">  Maersk Line is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate, was designed with flexibility in mind for distributors, mail order houses, manufacturers and any organization shipping between 50 - 50,000 packages daily. Maersk Line supports all small parcel carriers including FedEx Express, FedEx Ground, UPS, USPS and other small package carriers. Maersk Line also supports LTL carrier rating, pallet packing and produces bills-of-lading.</p>
                            <p align="justify">Maersk Line is capable of acting as the gateway between all of the carrier provided systems and your application server. Maersk Line can automatically select the best ship-via based upon freight cost or delivery experience. Maersk Line boasts a powerful and easy to customize interface that can read from and write to most databases directly. Maersk Line can be installed as a host-based application or as a stand-alone parcel processor. We provide scales, label printers, forms printers, scanners, conveyer control and more.</p>
                            <p align="justify">With Maersk Line you can choose options that suit your current operation, and, at any time, add more options to the system as your automation and integration needs change.</p>
                            <p align="justify">If you are looking for shipping control, increased productivity, flexibility, comprehensive reporting and the ability to provide superior customer service, Maersk Line will be the correct choice. (1)</p>
                            <center>
                                <p><img src="~/Models/PSS-BOX.png" width="88" height="84"></p>
                            </center>
                        </div>
                    </div>
                </div>

            </section><!-- /MAIN CONTENT -->
            <!--main content end-->
            <!--footer start-->
            <footer class="site-footer">
                <div class="text-center">
                    2017 - Container Management System [Maersk Line]

                    <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
            <!--footer end-->

        </section>


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


        <!--common script for all pages-->
        <script src="assets/js/common-scripts.js"></script>

        <!--script for this page-->

        <script>
      //custom select box



      $(function(){
          $('select.styled').customSelect();
      });

        </script>

</body>
</html>

