<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    <script>
        function goSchedule() {
            window.location.href = "../../Schedule/Index";
        }
        function goAbout() {
            window.location.href = "../../Home/About";
        }
        function goContactUs() {
            window.location.href = "../../Home/Contact";
        }

    </script>
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <p class="centered"><a href="profile.html"><img src="~/Models/container.png" class="img-circle" width="60"></a></p>
                    <h5 class="centered">Maersk Line</h5>


                    <li class="sub-menu">
                        <a href="javascript:goSchedule();">
                            <i class="fa fa-th"></i>
                            <span>Schedule</span>
                        </a>
                        <ul class="sub">
                            <li class="active"><a href="basic_table.html">Schedule</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:goAbout();">
                            <i class="fa fa-th"></i>
                            <span>About </span>
                        </a>
                        <ul class="sub">
                            <li><a href="../../View/Home/About.cshtml">About</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="active" href="javascript:goContactUs();">
                            <i class="fa fa-th"></i>
                            <span>Contact Us </span>
                        </a>
                        <ul class="sub">
                            <li><a href="../../View/Home/About.cshtml">About</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">

                <h3> Contact Us</h3>
                <div id="left" class="grid_4 alpha topPad">
                    <table width="300" border="0">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="font-size: 19px">
                                        Software Co-Op, Inc.<br>
                                        59 East Mill Road, Unit 1-103<br>
                                        Long Valley, NJ 07853
                                        <br>
                                        Phone: 908-867-7055<br>
                                        FAX: 908-867-7076
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="273" border="0" cellspacing="0" id="table1">
                        <tbody>
                            <tr>
                                <td width="271" height="76" style="height: 18px"><h2>Email</h2></td>
                            </tr>
                            <tr>
                                <td height="16">
                                    <a href="mailto:Sales@softwarecoop.com">Sales</a><a href="mailto:softwaresupport@softwarecoop.com">
                                        <br>
                                        Software Support
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="mailto:scinetsuitesupport@softwarecoop.com">SCI Netsuite Support</a><br>
                                    <a href="mailto:hardwaresupport@softwarecoop.com">Hardware Support</a><br>
                                    <a href="mailto:techinalsupport@softwarecoop.com">Techincal Support</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </section><!-- /MAIN CONTENT -->
            <!--main content end-->
            <!--footer start-->
            <footer class="site-footer">
                <div class="text-center">
                    2017 - Container Management System [Maersk Line]

                    <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
            <!--footer end-->

        </section>


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


        <!--common script for all pages-->
        <script src="assets/js/common-scripts.js"></script>

        <!--script for this page-->

        <script>
      //custom select box



      $(function(){
          $('select.styled').customSelect();
      });

        </script>

</body>
</html>

